<a href="https://colab.research.google.com/github/ivan-rib/Amablindados/blob/main/WORKSHOPAMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
import os

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#path='/content/drive/My Drive/WorkshopAMA'
#dir_list = os.listdir(path) 
  
#print("Files and directories in '", path, "' :") 
#print(dir_list)
#files=['2S2021.csv', '2S2020.txt', '2S2019.csv', '2S2018.csv', '2S2017.csv', '1S2021.csv', '01S2020.csv', '1S2019.csv', '1S2018.csv', '1S2017.csv']

In [ ]:
file_list=['2S2021.csv', '2S2020.txt', '2S2019.csv', '2S2018.csv', '2S2017.csv', '1S2021.csv', '01S2020.csv', '1S2019.csv', '1S2018.csv', '1S2017.csv']
  
main_dataframe = pd.DataFrame(pd.read_csv('/content/drive/My Drive/WorkshopAMA/'+file_list[0],encoding='utf-16', on_bad_lines='skip',sep="\t"))
  
for i in range(1,len(file_list)):
    data = pd.read_csv('/content/drive/My Drive/WorkshopAMA/'+file_list[i],encoding='utf-16', on_bad_lines='skip',sep="\t")
    df = pd.DataFrame(data)
    main_dataframe = pd.concat([main_dataframe,df])
main_dataframe

,CNPJ emit.,Emitente,No.,Data Emissão,Valor NF,Data Registro,Créditos,Situação do Crédito
0,61.412.110/0192-55,DROGARIA SAO PAULO S.A,128488,31/12/2021,"21,59",31/12/2021,0,Calculado
1,24.120.893/0001-77,CB ANHEMBI COMERCIO DE ALIMENTOS LTDA,555624,31/12/2021,"181,91",31/12/2021,"1,81",Calculado
2,47.508.411/0006-60,CIA BRASILEIRA DE DISTRIBUICAO,117783,31/12/2021,"188,04",31/12/2021,0,Calculado
3,47.508.411/0288-32,CIA BRASILEIRA DE DISTRIBUICAO,113715,31/12/2021,"103,12",31/12/2021,0,Calculado
4,45.543.915/0358-05,CARREFOUR COM. E IND. LTDA,222025,31/12/2021,"308,1",31/12/2021,0,Calculado
...,...,...,...,...,...,...,...,...
26930,61.585.865/1373-78,RAIA DROGASIL S A,21290,01/01/2017,"8,99",01/01/2017,"0,01",Liberado
26931,05.513.952/0001-22,AUTO POSTO TECOARA LTDA,143111,01/01/2017,363,01/01/2017,0,Liberado
26932,05.513.952/0001-22,AUTO POSTO TECOARA LTDA,143105,01/01/2017,"1077,08",01/01/2017,0,Liberado
26933,05.513.952/0001-22,AUTO POSTO TECOARA LTDA,143045,01/01/2017,"595,97",01/01/2017,0,Liberado
26934,05.513.952/0001-22,AUTO POSTO TECOARA LTDA,142873,01/01/2017,"1620,12",01/01/2017,0,Liberado

Warning: total number of rows (187646) exceeds max_rows (20000). Limiting to first (20000) rows.